.resultEntry {
  padding: 20px;
  
}

.output {
  margin: 0 auto;
}

body {
  background-color: rgb(134, 174, 106);
  font-family: Tahoma;
  color: white;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.splunkSearch {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 20px;
}

input[type="submit"] {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  color: white;
  background-color: rgb(114, 154, 86);
  border: none;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(94, 134, 66);
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
}

.noResults {
  text-align: center;
  font-size: larger;
}

.loginResult {
  text-align: center;
}

.processing {
  text-align: center;
  font-size: larger;
}